@import '../util/var';

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	width: 100%;
	user-select: none;
	min-width: 320px;
}

* {
	box-sizing: border-box;

	&:focus {
		outline: 0 transparent;
	}

}

body {
	font-size: $font-base;
	line-height: normal;
	overflow-x: hidden;
	font-family: 'Quicksand', sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.content {
	flex: 1 0 auto;
	padding: 40px 0;
}

.container {

	&--big {
		max-width: 1550px;
		margin: 0 auto;
		padding: 0 15px;
	}

}

.bg {

	&--base {
		background: $base;
	}

	&--foil {
		background: $foil;
	}

}

.footer {
	flex: 0 0 auto;
}