$base: #fff;
$derault: #000;
$accent: #448b40;
$accent-light: #5cb85c;
$foil: #f1f0f0;
$line: #c4dcc4;

$font-big: 24px;
$font-accent: 20px;
$font-medium: 18px;
$font-base: 14px;
$font-item: 16px;

$indent-container: 0 15px;