<header class="header bg--base">
	<div class="header_container">
		<div class="header_wrap">
			<div class="header_wrap_sub">
				<a routerLink="" class="header_logo">
						<img class="header_logo_img" src="../../../assets/img/logo.svg" alt="logo">
				</a>
				<span class="header_user-phone">718-222-8282</span>
			</div>
			<app-navigation></app-navigation>
		</div>
	</div>
</header>

