@import '../../../assets/styles/util/var';

.header {
	background: $base;

	&_container {
		max-width: 1952px;
		margin: 0 auto;
		padding: $indent-container;
	}

	&_wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&_sub {
			display: flex;
			align-items: center;
		}

	}

	&_logo {
		flex-shrink: 0;
		margin: 0 20px 0 0;
	
		&_img {
			display: block;
		}
	
	}

	&_user-phone {
		color: $accent;
		font-weight: 500;
	}

}



