@import '../../../assets/styles/util/var';

.manager {
	padding: 15px 0;
	margin: 0 0 20px;
	
	&_wrap {
		text-align: center;
	}

	&_data {
		color: $accent;
		font-weight: bold;
		font-size: $font-item;

	}

}