@import '../../../../assets/styles/util/var';
@import '../../../../assets/styles/base/element-form';

.info {

	&_wrap {
		border: 1px solid $line;
		margin: 0 0 30px;
		padding: 25px 35px 20px;
		display: flex;
	}

	&_actions {
		width: 100%;
		max-width: 165px;
		display: flex;
    flex-direction: column;
    justify-content: center;
		border-right: 1px solid $line;

		&_title {
			font-size: $font-big;
			font-weight: 300;
			color: $accent;
		}
		
	}

	&_data {
		flex-grow: 1;
		padding: 0 25px;

		&_wrap {
			display: flex;
			align-items: center;
		}
		
		&_header {
			border-bottom: 1px solid $line;
			padding: 0 0 25px;
			width: 100%;
		}

		&_footer {
			padding-top: 20px;
		}

		&_item {
			flex-grow: 1;
			padding: 5px;
		}

		&_label {
			margin: 0 20px 10px 0;
			display: block;
		}

		&_field {
			font-weight: bold;
			display: block;

			&.active {
				color: $accent;
			}

		}

	}

}