<div class="info" *ngFor="let item of route">
  <div class="container--big">
    <div class="info_wrap bg--base">
      <div class="info_actions">
        <span class="info_actions_title" *ngIf="item.type === '0'">Pick Up</span>
        <span class="info_actions_title" *ngIf="item.type === '1'">Delivery</span>
      </div>
      <div class="info_data"> 
        <div class="info_data_header">
          <div class="info_data_wrap">
            <div class="info_data_item">
              <span class="info_data_field">{{item.city}}</span>
            </div>
            <div class="info_data_item" *ngIf="item.doorman === true">
              <span class="info_data_field" >Doorman</span>
            </div>
            <div class="info_data_item" *ngIf="item.elevator === true">
              <span class="info_data_field">Elevator</span>
            </div>
            <div class="info_data_item">
              <span class="info_data_label">ZIP (Postal) code</span>
              <span class="info_data_field">{{item.zip}}</span>
            </div>
            <div class="info_data_item">
              <span class="info_data_label">Street</span>
              <span class="info_data_field">{{item.street}}</span>
            </div>
            <div class="info_data_item">
              <span class="info_data_label">Apt</span>
              <span class="info_data_field">{{item.apartment}}</span>
            </div>
            <div class="info_data_item">
              <span class="info_data_label">City</span>
              <span class="info_data_field">{{item.city}}</span>
            </div>
            <div class="info_data_item">
              <span class="info_data_label">State</span>
              <span class="info_data_field">{{item.state}}</span>
            </div>
            <div class="info_data_item">
              <span class="info_data_label">Stairs</span>
              <span class="info_data_field">{{item.stairs}}</span>
            </div>
            <div class="info_data_item">
              <span class="info_data_label">Stop #</span>
              <span class="info_data_field">{{item.stairs}}</span>
            </div>
          </div>
        </div> 
        <div class="info_data_footer">
            <div class="info_data_wrap">
                <div class="info_data_item">
                  <span class="info_data_field">Please describe truck parking situation</span>
                </div>
                <div class="info_data_item">
                  <label class="chbox">
                    <input type="checkbox" class="chbox_input" [value]="item.accessParking">
                    <span class="chbox_label">Access legal parking within 100ft of entrance to the building</span>
                  </label>
                </div>
                <div class="info_data_item">
                  <label class="chbox">
                    <input type="checkbox" class="chbox_input" [value]="item.accessApartment">
                    <span class="chbox_label">Access to the apartment/unit within 100ft of the service entrance of the building</span>
                  </label>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
  