<nav class="nav">
  <ul class="nav_list">
    <li class="nav_list_item">
      <a class="nav_list_link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">General information</a>
    </li>
    <li class="nav_list_item">
      <a class="nav_list_link" routerLink="inventoty-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inventoty list</a>
    </li>
    <li class="nav_list_item">
      <a class="nav_list_link" routerLink="payments" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Payments</a>
    </li>
  </ul>
</nav>
