@import '../../../assets/styles/util/var';

.nav {
	margin: 0 -15px 0 0;
	
	&_list {
		display: flex;

		&_link {
			color: $base;
			font-weight: bold;
			font-size: $font-item;
			background: $accent;
			display: block;
			padding: 33px 5px;
			width: 249px;
			text-align: center;

			&.active,
			&:hover {
				background: $accent-light;
			}

		}

	}

}