@import '../../../assets/styles/util/var';

.info {

	&_wrap {
		border: 1px solid $line;
		margin: 0 0 30px;
		padding: 25px 35px;
	}

	&_header {
		border-bottom: 1px solid $line;
		text-align: center;
		padding: 0 0 25px;
		margin-bottom: 25px;

		&_title {
			font-size: $font-big;
			font-weight: 300;
			color: $accent;
			margin: 0;
		}

	}

	&_data {
		display: flex;	

		&_item {
			flex-grow: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 5px;

			.item {
				display: block;
			}
			
		}

		&_label {
			margin: 0 20px 0 0;
		}

		&_field {
			font-weight: bold;
		}

	}

}