<div class="info">
		<div class="container--big">
			<div class="info_wrap bg--base">
				<div class="info_header">
					<h1 class="info_header_title">Main information</h1>
				</div>
				<div class="info_data">
					<div class="info_data_item">
						<span class="info_data_label">Date of move</span>
						<span class="info_data_field">{{today | date: 'MM.dd.yy'}}</span>
					</div>
					<div class="info_data_item">
						<span class="info_data_label">Time of move</span>
						<span class="info_data_field">{{ today | date:'shortTime' | lowercase }} </span>
					</div>
					<div class="info_data_item">
						<span class="info_data_label">Customers name</span>
						<span class="info_data_field">{{ lead?.fullName }}</span>
					</div>
					<div class="info_data_item">
						<span class="info_data_label">Phone</span>
						<span class="info_data_field">
							<span class="item" *ngFor="let phone of lead?.phones">{{ phone }}</span>
						</span>
					</div>
					<div class="info_data_item">
						<span class="info_data_label">Email</span>
						<span class="info_data_field">
							<span class="item" *ngFor="let email of lead?.emails">{{ email }}</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-actions></app-actions>
	